$headHeight: 100px;
$footerHeight: 40px;
$kk:1;

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.head{
    padding-left:136px;
    text-align: left;
    line-height: $headHeight;
    font-size:2em;
    font-weight: bolder;
    background-image: url("../images/Sports-1.png");
    background-position: center left;
    background-repeat:no-repeat;
    background-size: 100px;  
    background-color: #eee;
}

.footer{
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: $footerHeight;
    background-color: #369;
    background-image: url("../images/icon.small.png");
    background-position: center left;
    background-repeat:no-repeat;
    background-size: 100px;  
    background-color: #eee;
}

.content{
    position: absolute;
    top:$headHeight;
    bottom: $footerHeight;
    overflow: auto;
    width: 100%;
    left: 0px;
}